*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------- Mainscreen Styles----------- */

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /*overflow is hid , so there is no scrolling */
}

.Background_mainscreen{
    position: fixed;
    inset: 0;
    background: url(Images/2.jpg);
    background-size: cover;
    z-index: 0;
}

.Overlay.bg{
    position:fixed;
    background-color: rgba(65, 28, 28, 0.2);
    z-index: -1;
    inset: 0;
}

.Container{
    position: relative;
    height: 100vh;  
}

.header{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.main{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}

.footer{
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 2;
}


.Profilecontainer,.PlayerScore{
    color: #1D2D37;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 24px;
    background-color: #F3A12E;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.Settings_icon{
    background-image: url(Images/Settings.png);
    height: 35px;
    width: 35px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;

}

.Profilecontainer:hover ,
.PlayerScore:hover{
    background-color: #b36e0e ;

}

.PlayButton {
    display: inline-block;
    width: 190px;
    height: 190px;
    background-image: url("Images/playbutton.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F3A12E;
    border-radius: 60%;
    cursor: pointer;  
    text-decoration: none   ;
}

.Appname{
    color: #F3A12E;
    font-family: 'Lucida Sans Unicode';
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
    margin-bottom: 45px;
    z-index: 3;
}


/* --------------------- Mode Screen Styles ---------------*/

.Background_modeScreen{
    background: url(Images/Background_mode_screen.jpg);
    filter: brightness(50%);
    background-size : cover;
    position: fixed;
    z-index: -1;
    inset: 0;
}

.mode-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 595px;
    margin: 80;
    position: absolute;
    width: 20px;
    height: 30px;
    left: 681px;
    top: 305px;
}

.mode-option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-option img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 15px;
}

.singleplayer,.multiplayer{
    padding: 20px 90px;
    border-radius: 24px;
    border: none;
    background-color: #F3A12E;
    color: #1D2D37;
    cursor: pointer;
    font-size: large;
    font-family: 'Lucida Sans';
}

.singleplayer:hover,
.multiplayer:hover{
    background-color: #b36e0e;
}

.next_container{
    display: flex;
    position: fixed;
    top: 400px;
    justify-content: center;
    margin-top: 40px;
}

.next{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("Images/Next Button.png");
    top: 500px;
    left: 640px;

}