
/* ======= Layout ======*/
body{
    font-family: "Russo One",sans-serif;
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.Background_image{
    background: url(../Images/Background_mainscreen.jpg) center/cover no-repeat;
}

/* ======= Components ======*/
.btn-round {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.play-btn {
    display: inline-block;
    width: clamp(120px,20vw,190px);
    height: clamp(120px,20vw,190px);
    background: url("../Images/playbutton.png") center/cover no-repeat;
    background-color: #F3A12E;
    border-radius: 50%;
    cursor: pointer;  
    text-decoration: none   ;
    transition: transform 0.2s ease;
}

.play-btn:hover{
    transform: scale(1.05);
}

@media (max-width:600px){
    .header{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .footer{
        text-align: center;
    }
}


