
.Background_image{
    background: url("../Assets/Images/Background_mode_screen.jpg") center/cover no-repeat    ;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.Appname_position{
    text-align: center;
    margin-top: 1rem;
}

.mode-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30vw;         
    margin-top: 5vh;   
    flex-wrap: wrap; 
}

.mode-option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mode-option img {
    width: min(280px, 40vw);  
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 15px;
}

.singleplayer,.multiplayer{
    padding: 1rem 3rem;
    border-radius: 24px;
    border: none;
    background-color: #F3A12E;
    color: #1D2D37;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Russo One" , sans-serif;
    transition: transform 0.2s ease;
}

.singleplayer:hover,
.multiplayer:hover{
    transform: scale(1.05);
}

.singleplayer.selected,
.multiplayer.selected{
    border-color: #ff0000; /* Highlight color */
    background-color: #68B087;
}

.next_container{
    position: fixed;
    justify-content: center;
    top: 50%;                               
    left: 50%;
}

.next{
    position: fixed;        
    width: 180px;
    height: 180px;
    top: 510px;
    background-size: contain;
    cursor: pointer;
    background: url("../Assets/Images/Mini_Play_Button.png") no-repeat center;
    transition: transform 0.2s ease;
}

.next:hover{
    transform:scale(1.05);
}

@media (max-width:720px){
    .header{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .footer{
        text-align: center;
    }

    .mode-container{
        position: relative;
        top: -80px;
        display: grid;
        grid-template-columns: 70px 70px ;

    }

    .next{
        background-image: url("../Assets/Images/play_btn_mobile.png");
        width: 150px;
        height: 150px;
        top:425px;
        left: 30%;
    }

    .mode-option img {
    width: 100px;  
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    }
    
    .singleplayer,.multiplayer{
        font-size: 0.8rem;
        padding: 10px 20px;
    }
}